.wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    right: 200px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    background: #d95716;
    border-radius: 15px;
    height: 200px;
    width: 70vw;
}

.box-text {
    align-self: center;
    justify-self: center;
    padding: 10px;
}

h3 {
    font-size: 36px;
    color: white;
}

p {
    color: white;
}

.box-img{
    background-image: url('https://react-learning.ru/image-compressed/1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

