.wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    right: 200px;
}

.box {
    display: flex;
    justify-content: center;
    background: #d95716;
    width: 70vw;
    border-radius: 15px;
    height: 200px;
}

