body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
h1 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	color: #61dafb;
}