.banner__content {
    width: 100%;
    max-height: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

.banner__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 70%;
}